<!DOCTYPE html>
<html data-theme-mode="{{ desk_theme.lower() }}" data-theme="{{ desk_theme.lower() }}" dir={{ layout_direction }}
    lang="{{ lang }}" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <title>{{ app_name }}</title>

    {% for include in include_css -%}
    {{ include_style(include) }}
    {%- endfor -%}
</head>

<body>

    {% include "naidapa_theme/templates/includes/ocean/main.html" %}

    <!-- SVGs -->
    <div id="all-symbols" style="display:none"></div>
    <div id="build-events-overlay"></div>

    <script type="text/javascript">
        window._version_number = "{{ build_version }}";
        window.app = true;

        if (!window.frappe) window.frappe = {};

        /* Changed this line to be safer */
        frappe.boot = {{ boot | json }};
        frappe._messages = frappe.boot["__messages"] || {};
        frappe.csrf_token = "{{ csrf_token }}";

        {% for path in include_icons %}
        fetch("/assets/{{ path }}?v=" + window._version_number, { credentials: "same-origin" })
            .then(r => r.text())
            .then(svg => {
                const container = document.getElementById("all-symbols");
                if (container) container.insertAdjacentHTML("beforeend", svg);
            });
        {% endfor %}
    </script>

    {% for include in include_js %}
    {{ include_script(include) }}
    {% endfor %}

</body>

</html>